html {
    font-size: 1rem;
    word-wrap: break-word;
    transition: 200ms,ease-in-out;
  }

  @media (max-width: 575px) { 
    html{
      font-size: 0.8rem;
    }
   }
  

  @media (max-width: 767px) { 
    html{
      font-size: 1.0rem;
    }
  }
  
 
  @media (max-width: 991px) { 
    font-size: 1.2rem;
   }
  
 
  @media (max-width: 1199px) { 
    font-size: 1.3rem;
   }



@font-face{
  font-family: HanyiSongYunHeiW;
  src:url(../res/font/汉仪宋韵朗黑W.ttf);
}

@font-face{
  font-family: PingFangBold;
  src: url(../res/font/PingFang\ Bold.ttf);

}

@font-face{
  font-family: PingFangExtraLight;
  src: url(../res/font/PingFang\ ExtraLight.ttf);
}

@font-face{
  font-family: PingFangRegular;
  src: url(../res/font/PingFang\ Regular.ttf);
}

@font-face{
  font-family: BauhausStd-Light;
  src: url(../res/font/BauhausStd-Light.otf);
}

@font-face{
  font-family: ChickenAOE;
  src: url(../res/font/ChickenScratchAOE.otf);
}
a{
  white-space:nowrap;
}

a:hover{
  text-decoration: none;
}